{% extends 'restaurants/layout.html' %}

{% block title%}
    {{ title }}
{% endblock %}

{% block content %}
    <main>
        <div style="background-color: #f8e9f2; text-align:center; padding: 20px;">
            <a href="{{ business.url }}"><h2>{{ business.name }}</h2></a>
            <img style="max-width:300px; height:auto;" src="{{ business.image_url }}" alt="{{ business.name }}">
            <p>{{ business.location.address1 }}, {{ business.location.city }}</p>
            <p>Phone: {{ business.phone }}</p>
        </div>

        <a href="{% url 'index' %}">Choose Another Place</a>
    </main>
   
{% endblock %}