{% extends 'restaurants/layout.html' %}
{% load static %}

{% block title %}
    Pick My Lunch
{% endblock %}

{% block content %}
    <main>
        <h1>Pick My Lunch</h1>
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="form-container">
                <div style="background-color: #f8e9f2; padding: 10px;">
                    <div style="flex:1 100%; text-align:center;">
                        <input type="button" value="Get My Current Location" onclick="getLocation()">
                        <label for="typed_location"> or enter an address:</label>
                        <input type="text" name="address" id="typed_location">
                        <input type="hidden" name="latitude" id="latitude" value="">
                        <input type="hidden" name="longitude" id="longitude" value="">
                    </div>
                    <div>
                        <label for="categories">Choose a Category:</label>
                        <select name="categories" id="categories">
                            <option value="restuarants">--</option>

                            {% for category in categories %}
                            <option value="{{ category.alias }}">{{ category.title }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div>
                        within <input type="number" name="radius" value="5" min="1" max="40"> km
                    </div>
                </div>
                <button type="submit"><img class="restaurant-icon" src="{% static 'restaurants/restaurant.svg' %}" alt="Restaurant Icon"></button>
            </div>
        </form>
        <div>
            <a href="https://iconscout.com/icons/restaurant" target="_blank">Restaurant Icon </a>by<a href="https://iconscout.com/contributors/jemismali"> Jemis Mali </a>on<a href="https://iconscout.com"> Iconscout</a>
        </div>
    </main>
    <script type="text/javascript">
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(onGeoSuccess, onGeoError);
            }
            else {
                alert("Your browser doesn't support Geolocation");
            }
        }

        function onGeoSuccess(event) {
            document.getElementById("latitude").value = event.coords.latitude;
            document.getElementById("longitude").value = event.coords.longitude;
            alert("Got current location")
        }

        function onGeoError(event) {
            alert(event.message);
        }
    </script>
{% endblock %}
